p {
    font-weight: bold;
}

a {
    color: #2813b4;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ca8833;
    text-decoration: none;
}

#header {
    width: 100%;
    text-align: center;
    background-color: #ddedb0;
    padding: 5px;
}

#footer {
    position: fixed;
    bottom: 10px;
    background-color: #ddedb0;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#footer li {
    display: inline-block;
}

#view p {
    left: 20%;
    margin-left: 20px;
}

.settings {
    width: 20%;
    height: 82%;
    background-color: #ddedb0;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    margin: 5px 0 0 0;
    position: absolute;
}

.radio {
    text-align: left;
}
.buttons li {
    display: inline;
    margin: 10px;
}

.buttons a {
    position: inherit;
    padding: 5px 20px;
    border-radius: 2px;
    background-color: #6b637e;
    color: #2813b4;
    outline: none;
    user-select: none;
}

.buttons a:hover {
    background-color: #ca8833;
    color: #2813b4;
}

#view {
    left: 20%;
    margin-left: 10px;
    position: relative;
}

#view li {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: #6b637e;
    border-radius: 2px;
}