a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: darkorchid;
    text-decoration: none;
}

#header {
    width: 100%;
    text-align: center;
    background-color: cornflowerblue;
}

#footer {
    position: fixed;
    bottom: 10px;
    background-color: cornflowerblue;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#footer li {
    display: inline-block;
}

